.Money {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;

  .moneywapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #efb755;
    div {
      padding: 0 15px;
      ol {
        padding: 5px 0;
        li {
          padding: 5px;
        }
      }
    }
  }
}