.TagButton {
  > button {
    border-radius: 4px;
    border: none;
    padding: 9px 15px;
    background: #767676;
    font-size: 15px;
    color: white;
    display: block;
    margin: 44px auto;
  }
}