.statistics{
  span{
    font-size: 17px;
  }
  ul{
    li{
      >.date{
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      >.recordLi{
        padding: 9px 16px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        >.note{
          color: #999999;
        }
      }
    }
  }
  .statisticswapper{
    background-color: white;
  }
}


